<%- include('partials/head') %>
<%- include('partials/nav') %>
        <main>  
            <h1>PACKS</h1>
            <div class="grid-container">
            <% data.forEach(pack => { %>
                <div class="pack" data-id="<%= pack.id %>">
                    
                    <input type="text" class="pack-name" value="<%= pack.name %>" disabled>
                    <input type="text" class="pack-destination" value="<%= pack.destination %>" disabled>
                    <!-- <input type="text" class="pack-description" value="<%= pack.description %>" disabled> -->
                    <input type="number" class="pack-price" value="<%= pack.price %>" disabled>

                    <div class="buttons">
                        <button class="modify-btn" data-id="<%= pack.id %>" >Modifica</button>
                         <button class="save-btn" data-id="<%= pack.id %>" style="display:none">Salva</button>
                        <button class="delete-btn" data-id="<%= pack.id %>" data-resource="packs" data-target="pack">Elimina</button>
                    </div>
                    <% if (typeof data.message !== 'undefined') { %>
                    <div class="alert alert-danger"><%= data.message %></div>
                    <% } %>
                </div>  
            <% }); %>
            </div>
        </main>

        <div class="formidable">
            <h3>New Pack</h3>
            <form action="/packs" method="post">
            <label>Pack's name </label>
            <input type="text" name="name" value="" ><br>
            <label>Destination </label>
            <input type="text" name="destination" value=""><br>
            <label>Price </label>
            <input type="text" name="price" value=""><br><br>
            <input type="submit" value="Submit">
        </form>
        </div>



<% if (typeof alertMessage !== 'undefined') { %>
  <div class="alert alert-danger"><%= alertMessage %></div>
<% } %>
       
  
<%- include('partials/footer') %>