<%- include('partials/head') %>
<%- include('partials/nav') %>
<main> 
  <h1>ORDERS</h1>
  <div class="orders-page">  
    <div class="order-list">
      
      <!-- <div><h3>Order number</h3>
            <h3>user</h3>
            <h3>packs</h3>
            <h3>date</h3></div> -->
            
        

        <% orders.forEach(order => { %>
          <div class="order" data-id="<%= order.order_id %>">
            <div class="order-details">
            <p class="item-number"><strong>N°</strong> <%= order.order_id %></p>
            
            <p><%= order.user_name %> <%= order.user_firstname %></p> 
            
            
            
           
            <p><%= new Date(order.date).toLocaleDateString() %></p>
         
            
            <% if (order.packs.length > 0) { %>
            <ul class="list-order">
                <% order.packs.forEach(pack => { %>
                <li><%= pack.name %> - Quantity: <%= pack.quantity %></li>
                <% }) %>
            </ul>
            <% } else { %>
            <p>No packs in this order.</p>
            <% } %>

          </div>
            <div class="buttons">
              <a href="http://localhost:3002/orders/<%= order.order_id %>"><button>Modifica</button></a>
                
                <button class="delete-btn" data-id="<%= order.order_id %>" data-resource="orders" data-target="order">Elimina</button>
            </div>
        </div>
        <% }) %>

    </div>

    <div class="formidable">
            <div class="filters">
              <h3>Filters:</h3>
              <form action="/orders" method="get" id="filter-form">
                <div class="container-dates">
                  <div><label for="start">Date from:</label><br>
                <input id="start" type="date" name="dateStart" value="<%= filterDateStart %>"><br></div>
                <div><label for="end">Date end:</label><br>
                <input id="end" type="date" name="dateEnd" value="<%= filterDateEnd %>"></div>
                </div>
                <br>
                <label for="packs">Packlist</label><br>
                <select id="packs" name="pack">

                  <option value="">Tutti i pacchetti</option>

                  <% packs.forEach(pack => { %>
                  <option value="<%= pack.name %>" 
                  <% if(filterPack === pack.name){ %> selected <% } %>>
                  <%= pack.name %>
                  </option>
                  <% }) %>

                </select><br><br>
                <button class="btn-create" type="submit">Filtra</button>
              </form>
            </div>


    
              <br><br><br>
          <div class="create-order">
              <h3>Place a new Order</h3>
              <form action="/orders" method="post" id="new-order-form">
              
              
              <label for="user">User: </label>
              <select id="user" name="byUser">
                      
                          <% users.forEach(user => { %>
                            <option value="<%= user.id %>" 
                              <% if(filterUser === user.name){ %> selected <% } %>>
                              <%= user.name %> <%= user.first_name %>
                            </option>
                          <% }) %>
          </select><br>

          <label for="quantity">How much </label><br>
              <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select><br>
          <label>Pack </label><br>
              <select name="packId">
                          
                          <% packs.forEach(pack => { %>
                            <option value="<%= pack.id %>" 
                              <% if(filterPack === pack.name){ %> selected <% } %>>
                              <%= pack.name %>
                            </option>
                          <% }) %>
          </select><br><br>
              <input class="btn-create" type="submit" value="Submit">
          </form>
          </div>
    </div>
  </div>
</main>

  
<%- include('partials/footer') %>