<%- include('partials/head') %>
<%- include('partials/nav') %>
<main>
  <div class="single-order">
  <h1>ORDER N° <%= order.order_id %></h1>

    <div class="flex">
    <!-- <p><strong>User:</strong> <%= order.user_name %> <%= order.user_firstname %></p> -->

    <!-- USER -->
     <div class="user">
    <label for="user"><strong>User:</strong></label>
    <select class="user-selected" id="user" name="byUser" disabled>

      <% users.forEach(user => { %>

      <option value="<%= user.id %>" <%= (user.id === order.user_id) ? 'selected' : '' %>>
        <%= user.name %> <%= user.first_name %> <%= orders.by_user %>
      </option>
      <% }) %>
    </select><br>
</div>
    <p><strong>Date:</strong> <%= new Date(order.date).toLocaleDateString() %></p>

    </div>

    <!-- PACKS DETAILS -->
    <h3>Packs in this order:</h3>
    <% if (order.packs.length > 0) { %>
    <ul>
      <% order.packs.forEach(orderedPack => { %>
    
      <li data-pack-id="<%=orderedPack.pack_id%>" data-int-id="<%=orderedPack.int_id%>">
        <div class="ordered-pack">
        <label for="packs">Pack's name: </label>
        <select class="pack-selected" id="packs" name="pack" disabled>


          <% packs.forEach(pack => { %>

          <option value="<%= pack.id %>" <%= (pack.id === orderedPack.pack_id) ? 'selected' : '' %>>

            <%= pack.name %>
          </option>
          <% }) %>

        </select>
        </div>



        
        <!-- Quantity: <%= orderedPack.quantity %> -->
          <div class="quantity-ordered">
        <label for="quantity">Quantity: </label>
        <select class="order-quantity" name="quantity" id="quantity" disabled>
          <option value="1" <%= (1===orderedPack.quantity)? 'selected' : '' %>>1</option>
          <option value="2" <%= (2===orderedPack.quantity)? 'selected' : '' %>>2</option>
          <option value="3" <%= (3===orderedPack.quantity)? 'selected' : '' %>>3</option>
        </select>

      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <p>No packs in this order.</p>
    <% } %>
</div>
    <button id="mod-order" data-id="<%= order.order_id %>">Modifica</button>
    <button id="save-order" style="display:none">Salva</button>

</div>
</main>



<%- include('partials/footer') %>