<%- include('partials/head') %>
<%- include('partials/nav') %>
<main>  
    <h1>PACKS</h1>
<div class="main-content">
    <div class="container">
        <div class="title"><div class="pack-name">NAME</div><div class="pack-destination">DESTINATION</div><div class="pack-price">PRICE</div></div>

    <% data.forEach(pack => { %>
        <div class="pack" data-id="<%= pack.id %>">
            
            <input type="text" class="pack-name disactive-input" value="<%= pack.name %>" disabled>
            <input type="text" class="pack-destination disactive-input" value="<%= pack.destination %>" disabled>
           <input type="number" class="pack-price disactive-input" value="<%= pack.price %>" disabled>

            <div class="buttons">
                <button class="modify-btn" data-id="<%= pack.id %>" >Modifica</button>
                    <button class="save-btn" data-id="<%= pack.id %>" style="display:none">Salva</button>
                <button class="delete-btn" data-id="<%= pack.id %>" data-resource="packs" data-target="pack">Elimina</button>
            </div>
            <% if (typeof data.message !== 'undefined') { %>
            <div class="alert alert-danger"><%= data.message %></div>
            <% } %>
        </div>  
    <% }); %>
    </div>

<div class="formidable">
    <h3>Create a new PACK:</h3>
    
    <form action="/packs" method="post">
        
    <label>Name: </label><br>
    <input type="text" name="name" value="" ><br>
    <label>Destination: </label><br>
    <input type="text" name="destination" value=""><br>
    <label>Price: </label><br>
    <input type="text" name="price" value=""><br><br>
    <input class="btn-create" type="submit" value="CREATE NEW PACK">
</form>
<% if (typeof alertMessage !== 'undefined') { %>
  <div class="alert alert-danger"><%= alertMessage %></div>
<% } %>
</div>
</div>




</main>




       
  
<%- include('partials/footer') %>