<%- include('partials/head') %>
<%- include('partials/nav') %>
        <main>  
            <h1>USERS</h1>
            <div class="main-content">
            <div class="container">


                <div class="title"><div class="user-name">NAME</div><div class="user-firstname">SURNAME</div><div class="user-email">EMAIL</div></div>



            <% data.forEach(user => { %>
                <div class="user" data-id="<%= user.id %>">
                
                    <input type="text" class="user-name disactive-input" value="<%= user.name %>" disabled>
                    <input type="text" class="user-firstname disactive-input" value="<%= user.first_name %>" disabled>
                    <input type="text" class="user-email disactive-input" value="<%= user.email %>" disabled>
                    

                     <div class="buttons">
                        <button class="modify-btn" data-id="<%= user.id %>" >Modifica</button>
                         <button class="save-btn" data-id="<%= user.id %>" style="display:none">Salva</button>
                        <button class="delete-btn" data-id="<%= user.id %>" data-resource="users" data-target="user">Elimina</button>
                    </div>
                    
                            <% if (typeof data.message !== 'undefined') { %>
            <div class="alert alert-danger"><%= data.message %></div>
            <% } %>

                </div>
          
            <% }); %>
            </div>


            <div class="formidable">
                <h3>Create a new CLIENT:</h3>
            <form action="/users" method="post">
            <label>Name: </label><br>
            <input type="text" name="name" value="" ><br>
            <label>First name: </label><br>
            <input type="text" name="firstName" value=""><br>
            <label>Email: </label><br>
            <input type="email" name="email" value=""><br><br>
            <input class="btn-create" type="submit" value="CREATE NEW CLIENT">
    </form>
        </div> 
            </div>
        </main>

        
         
  
<%- include('partials/footer') %>